<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.bao.mybatis.model"/>
	</typeAliases>
	
	<!-- peizhi mybatis env -->
	<environments default="development">
		<environment id="development">
			<!-- type="JDBC" daibiao use jdbc submit & rollback -->
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
				<property name="username" value="root"/>
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<package name="com/bao/mybatis/mapper"/>
	</mappers>
</configuration>